{% extends 'bootstrap/base.html' %}

<!-- Adding our custom styles to the bootstrap css. -->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}">
{% endblock %}

<!-- Adding our JavaScript styles to the bootstrap css. -->
{% block scripts %}
    <script defer src="{{ url_for('.static', filename='scripts.js') }}"></script>
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- The first row containing the title and navigation buttons. Next to eachother on big screens, above each other on mobile. -->
        <div class="col-xs-12 col-sm-6">
            <h1 class="title purple">Your Stats</h1>
        </div>

        <div class="col-xs-12 col-sm-6 text-left text-sm-right">
            <a class="btn btn-success btn-lg" href="/">Home</a>
            <a class="btn btn-success btn-lg" href="form">Add Entry</a>
            <a class="btn btn-default btn-lg" href="delete">Delete Entry</a>
        </div>
    </div>


    <div class="row">
        <!-- The second row contains the chart and the listing of saved data.
        These are also displayed next to or above each other depending on screen size.
        The saved values are animated using JavaScript and CSS. -->
        <div class="col-xs-12 col-md-8 text-center">
            <img class="chart piechart" src="{{ pieChart }}">
        </div>

        <div class="col-xs-12 col-md-4">
            <h2 class="subtitle purple">You Saved:</h2>
            <div class="panelcontainer">
                <div class="panel invisibleanimate panel-default">
                    <div class="panel-body"><span class="green">{{ savedKg }}kg</span> of meat</div>
                </div>
                <div class="panel invisibleanimate panel-default">
                    <div class="panel-body"><span class="purple">{{ savedCo2 }}kg</span> of CO<sub>2</sub></div>
                </div>
                <div class="panel invisibleanimate panel-default">
                    <div class="panel-body"><span class="blue">{{ savedWater }}L</span> of water</div>
                </div>
                <div class="panel invisibleanimate panel-default">
                    <div class="panel-body"><span class="pink">{{ savedAnimals }}</span> animals</div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <!-- The final row contains tabs to display a different chart for each variable. -->
        <ul class="nav nav-tabs">
            <!-- The actual tabs themselves. -->
            <li class="active"><a class="purple" data-toggle="tab" href="#kg">Kilogram</a></li>
            <li><a class="purple" data-toggle="tab" href="#water">Water</a></li>
            <li><a class="purple" data-toggle="tab" href="#co2">CO<sub>2</sub></a></li>
        </ul>

        <div class="tab-content">
            <!-- Tab 1 content -->
            <div id="kg" class="tab-pane fade in active">
                <div class="col-xs-12 text-center">
                    <h2 class="subtitle green">Average amount of kg eaten per day in the last 30 days</h2>
                    <img class="chart" src="{{ kgBarChart }}">
                </div>
            </div>

            <!-- Tab 2 content -->
            <div id="water" class="tab-pane fade">
                <div class="col-xs-12 text-center">
                    <h2 class="subtitle green">Average amount of water used for meat per day in the last 30 days</h2>
                    <img class="chart" src="{{ waterBarChart }}">
                </div>
            </div>
            
            <!-- Tab 3 content -->
            <div id="co2" class="tab-pane fade">
                <div class="col-xs-12 text-center">
                    <h2 class="subtitle green">Average amount of CO<sub>2</sub> used for meat per day in the last 30 days</h2>
                    <img class="chart" src="{{ co2BarChart }}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
